<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worktable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/build/styles.css') }}">
</head>

<body>
    <div class="min-h-screen p-8 bg-blue-50">
        {% include 'layouts/partials/nav.html' %}
        {% block content %}
        {% endblock content %}
        {% if current_user.is_authenticated %}
            <div class="absolute flex flex-col mx-auto space-y-2 w-80 md:top-24 md:right-24"> 
                {% include 'layouts/partials/notifications.html' %}
            </div>
        {% endif %}

    </div>
    <script>
        window.addEventListener('load', function(){
            let notifyCloseBtns = document.getElementsByClassName('notify-close');
            for(let i =0; i< notifyCloseBtns.length; i++) {
                notifyCloseBtns[i].addEventListener('click', function(){
                    this.remove()
                });
            }
        });
    </script>
</body>

</html>