{% extends 'layouts/layout.html' %}
{% block content %}
<div class="max-w-2xl mx-auto mt-24">
    <h1 class="text-3xl font-bold leading-loose tracking-wide text-center text-blue-gray-600">Distraction free
        Project management tool</h1>
    <h3 class="leading-loose tracking-wide text-center text-blue-gray-600">Create Discuss projects without any
        distrction</h3>
    <div class="flex items-center justify-center mt-8 space-x-4">
        <a href="{{ url_for('signup.index') }}"
            class="px-8 py-2 font-bold tracking-wide text-white bg-green-400 rounded-md shadow-lg hover:bg-green-500">Signup</a>
        <a href="#" class="text-lg hover:underline hover:text-blue-gray-500">No more about worktable</a>
    </div>
</div>
{% endblock content %}