<div class="px-4 pt-2 pb-4 bg-white rounded-lg shadow-sm cursor-pointer">
    <div class="relative flex justify-end">
      <svg class="h-6 text-gray-300 menu-toggle hover:text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
      </svg>
      <div class="absolute hidden p-4 mx-auto -mr-8 rounded-lg shadow-md bg-gray-50 top-4">
        <ul>
          <li>
            {% if member.disabled_at %}
              <form action="{{ url_for('members.enable_account', org_username=current_user.organization.username) }}" method="POST">
                <input type="hidden" name="member_id" value="{{ member.id }}">
                <button class="p-1 text-sm font-bold text-green-600 hover:text-green-900">Enable</button>
              </form>
            {% else %}
            <form action="{{ url_for('members.disable_account', org_username=current_user.organization.username) }}" method="POST">
              <input type="hidden" name="member_id" value="{{ member.id }}">
              <button class="p-1 text-sm font-bold text-red-600 hover:text-red-900">Disable</button>
            </form>

            {% endif %}
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1205060168423100422/7CdEj_dt_400x400.jpg" alt="avatar" />
      <p class="font-semibold">{{member.first_name}} {{ member.last_name }}
        {% if member.disabled_at %}
        <span class="p-1 text-xs text-red-800 bg-red-300 rounded-lg">Disabled</span>
      {% endif %}
      </p>
      <p class="text-xs font-semibold text-gray-400">{{member.email}}</p>
      <p class="text-xs font-semibold text-gray-400">Member since {{member.created_at.strftime("%d/%m/%Y")}}</p>
    </div>
  </div>