[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.8.4"
black = "==20.8.b1"
pytest = "==6.2.2"
coverage = "==5.4"

[packages]
flask = "==1.1.2"
flask-sqlalchemy = "==2.4.4"
gunicorn = "==20.0.4"
psycopg2 = "==2.8.6"
flask-migrate = "==2.6.0"
flask-login = "==0.5.0"
flask-wtf = "==0.14.3"
email-validator = "==1.1.2"
flask-mail = "==0.9.1"
