<div class="flex items-center justify-between mb-4">
    <a href="#" class="text-2xl font-bold hover:text-blue-gray-500">Worktable</a>
    {% if current_user.is_authenticated %}
    <div class="space-x-8">
        <a href="{{url_for('auth.logout', org_username=current_user.organization.username) }}"
            class="text-lg font-bold hover:underline hover:text-blue-gray-500">logout</a>
    </div>
    {% else %}
    <div class="space-x-8">
        <a href="{{url_for('auth.login')}}" class="text-lg font-bold hover:underline hover:text-blue-gray-500">Login</a>
        <a href="#"
            class="px-8 py-2 font-bold tracking-wide text-white bg-green-400 rounded-md shadow-lg hover:bg-green-500">Signup</a>
    </div>
    {% endif %}
</div>