{% extends 'layouts/layout.html' %}
{% block content %}
<form method="POST" action="{{ url_for('auth.select') }}">
    {{ form.csrf_token}}
    <div class="max-w-lg p-8 mx-auto mt-24 rounded-lg shadow-md bg-gray-50">
        <div class="p-2">
            {% include 'layouts/partials/notifications.html' %}
        </div>
        <div class="grid grid-cols-1 gap-6">
            <label class="block">
                <span class="text-sm text-gray-700">{{ form.username.label.name }}</span>
                {% if form.username.errors %}
                {{form.username(class="block w-full mt-1 border-red-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", autofocus=true, placeholder="acme")}}

                {% for error in form.username.errors %}
                <p class="text-xs font-bold text-red-400">{{error}}</p>
                {% endfor %}
                {% else %}
                {{form.username(class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", autofocus=true, placeholder="acme")}}
                {% endif %}
            </label>
            <button
                class="px-4 py-2 text-xl font-bold text-white rounded-lg shadow-lg col-span-full hover:bg-blue-gray-500 bg-blue-gray-400">Login</button>
            <hr />
            <div class="flex justify-around">
                <a href="#" class="text-xs text-gray-400 hover:text-gray-900">Change organization</a>
                <a href="#" class="text-xs text-gray-400 hover:text-gray-900">Forgot password</a>
                <a href="#" class="text-xs text-gray-400 hover:text-gray-900">Create account</a>
            </div>
        </div>
    </div>
</form>
{% endblock content %}