<a
    href="{{ url_for('projects.detail', org_username=current_user.organization.username, project_id=project.public_id) }}">
    <div class="flex flex-col h-full rounded-lg shadow-md cursor-pointer bg-gray-50 hover:bg-white">
        <p class="flex-grow p-4">{{ project.name }}</p>
        <div class="flex items-center justify-between p-4 mt-4 text-xs text-gray-600 rounded-b-lg bg-blue-gray-100">
            <div class="flex items-center space-x-1">
                <svg class="w-4 h-4 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <p>{{ project.created_at.strftime("%d/%m/%Y") }}</p>
            </div>
            <div class="flex space-x-2">
                <div class="flex space-x-1">
                    <svg class="w-4 h-4 text-red-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
                    </svg>
                    <p>{{project.comments | length }}</p>
                </div>
                <div class="flex space-x-1">
                    <svg class="w-4 h-4 text-purple-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                    <p>{{project.members | length }}</p>
                </div>
            </div>
        </div>
    </div>

</a>