{% extends 'layouts/layout.html' %}
{% block content %}
<div class="max-w-6xl p-4 mx-auto rounded-lg bg-gray-50">
    <svg class="w-16 h-16 p-4 mx-auto -mt-10 text-green-500 rounded-full bg-gray-50"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
    </svg>
    <div class="mb-2">
        <h6 class="pb-4 text-xl font-bold text-center">Settings</h6>
    </div>
    <div>
        <h3 class="font-bold">Change password</h3>
        <hr>
        <form method="POST" action="{{url_for('.change_password', org_username=current_user.organization.username)}}">
            {{ change_pass_form.csrf_token }}
            <div class="grid max-w-md grid-cols-1 gap-6 mt-2">
                <label class="block">
                    <span class="text-sm text-gray-700">{{ change_pass_form.password.label.name }}</span>
                    {% if change_pass_form.password.errors %}
                    {{change_pass_form.password(class="block w-full mt-1 border-red-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", autofocus=true, placeholder="Password")}}
    
                    {% for error in change_pass_form.password.errors %}
                    <p class="text-xs font-bold text-red-400">{{error}}</p>
                    {% endfor %}
                    {% else %}
                    {{change_pass_form.password(class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", autofocus=true, placeholder="Password")}}
                    {% endif %}
                </label>
                <label class="block">
                    <span class="text-sm text-gray-700">{{ change_pass_form.password_confirm.label.name }}</span>
                    {% if change_pass_form.password_confirm.errors %}
                    {{change_pass_form.password_confirm(class="block w-full mt-1 border-red-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", autofocus=true, placeholder="Retype password")}}
    
                    {% for error in change_pass_form.password_confirm.errors %}
                    <p class="text-xs font-bold text-red-400">{{error}}</p>
                    {% endfor %}
                    {% else %}
                    {{change_pass_form.password_confirm(class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", autofocus=true, placeholder="Retype password")}}
                    {% endif %}
                </label>
                <button
                    class="px-4 py-2 font-bold text-white rounded-lg hover:bg-blue-gray-500 bg-blue-gray-400">Change Password</button>
            </div>
        </form>
    </div>        
</div>
{% endblock content %}